interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.kaggle.com/api/v1/datasets/list?user=datasnaek
  response:
    body:
      string: "[{\"subtitleNullable\":\"Daily statistics for trending YouTube videos\",\"creatorNameNullable\":\"Timo
        Bozsolik\",\"creatorUrlNullable\":\"timoboz\",\"totalBytesNullable\":210575746,\"urlNullable\":\"https://www.kaggle.com/datasets/datasnaek/youtube-new\",\"licenseNameNullable\":\"CC0:
        Public Domain\",\"descriptionNullable\":null,\"ownerNameNullable\":\"Mitchell
        J\",\"ownerRefNullable\":\"datasnaek\",\"titleNullable\":\"Trending YouTube
        Video Statistics\",\"currentVersionNumberNullable\":115,\"usabilityRatingNullable\":0.7941176,\"thumbnailImageUrlNullable\":\"https://storage.googleapis.com/kaggle-datasets-images/4549/9659/61ea143988e2f7db2ee9377cfdb6ffca/dataset-thumbnail.png?t=2017-12-10-18-00-59\",\"id\":4549,\"ref\":\"datasnaek/youtube-new\",\"subtitle\":\"Daily
        statistics for trending YouTube videos\",\"hasSubtitle\":true,\"creatorName\":\"Timo
        Bozsolik\",\"hasCreatorName\":true,\"creatorUrl\":\"timoboz\",\"hasCreatorUrl\":true,\"totalBytes\":210575746,\"hasTotalBytes\":true,\"url\":\"https://www.kaggle.com/datasets/datasnaek/youtube-new\",\"hasUrl\":true,\"lastUpdated\":\"2019-06-03T00:56:47.177Z\",\"downloadCount\":272511,\"isPrivate\":false,\"isFeatured\":false,\"licenseName\":\"CC0:
        Public Domain\",\"hasLicenseName\":true,\"description\":\"\",\"hasDescription\":false,\"ownerName\":\"Mitchell
        J\",\"hasOwnerName\":true,\"ownerRef\":\"datasnaek\",\"hasOwnerRef\":true,\"kernelCount\":4624,\"title\":\"Trending
        YouTube Video Statistics\",\"hasTitle\":true,\"topicCount\":0,\"viewCount\":2044265,\"voteCount\":5675,\"currentVersionNumber\":115,\"hasCurrentVersionNumber\":true,\"usabilityRating\":0.7941176,\"hasUsabilityRating\":true,\"tags\":[{\"nameNullable\":\"languages\",\"descriptionNullable\":\"Language
        is a method of communication that consists of using words arranged into meaningful
        patterns. This is a good place to find natural language processing datasets
        and kernels to study languages and train your chat bots.\",\"fullPathNullable\":\"subject
        \\u003e culture and humanities \\u003e languages\",\"ref\":\"languages\",\"name\":\"languages\",\"hasName\":true,\"description\":\"Language
        is a method of communication that consists of using words arranged into meaningful
        patterns. This is a good place to find natural language processing datasets
        and kernels to study languages and train your chat bots.\",\"hasDescription\":true,\"fullPath\":\"subject
        \\u003e culture and humanities \\u003e languages\",\"hasFullPath\":true,\"competitionCount\":10,\"datasetCount\":908,\"scriptCount\":349,\"totalCount\":1267},{\"nameNullable\":\"popular
        culture\",\"descriptionNullable\":\"Popular culture datasets and kernels are
        associated with topics like TV shows, movies, music, and video games. The
        greatest screenwriters come here to train their AI to write movie scripts.\",\"fullPathNullable\":\"subject
        \\u003e culture and humanities \\u003e popular culture\",\"ref\":\"popular
        culture\",\"name\":\"popular culture\",\"hasName\":true,\"description\":\"Popular
        cu[...]
