interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.kaggle.com/api/v1/datasets/view/datasnaek/youtube-new
  response:
    body:
      string: "{\"subtitleNullable\":\"Daily statistics for trending YouTube videos\",\"creatorNameNullable\":\"Timo
        Bozsolik\",\"creatorUrlNullable\":null,\"totalBytesNullable\":539220890,\"urlNullable\":null,\"licenseNameNullable\":\"CC0:
        Public Domain\",\"descriptionNullable\":\"UPDATE: Source code used for collecting
        this data [released here](https://github.com/DataSnaek/Trending-YouTube-Scraper)\\n\\n###
        Context\\n\\nYouTube (the world-famous video sharing website) maintains a
        list of the [top trending videos](https://www.youtube.com/feed/trending) on
        the platform. [According to Variety magazine](http://variety.com/2017/digital/news/youtube-2017-top-trending-videos-music-videos-1202631416/),
        \u201CTo determine the year\u2019s [...]
